

.porfolio-like,
#portfolio {
    background: #212121;
    padding-top: 16px;
    /*background: #ebeeee;*/
}


.porfolio-like {
    padding-bottom: 0;
}


.porfolio-like h1,
#portfolio h1 {
    color: #fff;
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 0 24px 0;
    text-align: left;
}
.porfolio-like h1 span,
#portfolio h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}

.slider-porfolio {
    width: 90%;
    margin: auto;
    height: 540px;
    /*overflow: hidden;*/
}


.porfolio-container {
    position: relative;
    text-align: center;
    height: 540px;
    overflow: hidden;
}

.porfolio-container img {
    /*position: absolute;
    top: 0;
    left: 0;
    z-index: 1;*/
    margin: 0 auto;
}


/*
.slider-porfolio h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}*/

.more-content {
    position: relative;
    float: left;
    width:  100%;
    background: yellow;
    overflow: hidden;
}

/*.slider-porfolio [data-animation-in] {
    opacity: 0;
}*/

.slider-porfolio .overlay h5 {
    color: #fff;
}
.slider-porfolio .overlay {
    position: relative;
    bottom: 160px;
    /*left: 50%;*/
    z-index: 2;
    color: #fff;
    height: 30%;
    width: 1000px;
    margin: 0 auto 0 auto;
    /*margin: 0 auto 0 -500px;*/
    max-width: 100%;
    padding: 24px;
    background: rgba(0, 0, 0, 0.8);
}




.project-header {
    width: 100%;
    margin: 36px auto 0 auto;
    /*position: relative;*/
    /*max-height: 540px;*/
}


.project-header .vignette {
    margin: 0 auto 0 auto;
    /*height: 540px;*/
    max-height: 540px;
    overflow: hidden;
    text-align: center;
}

.project-header .vignette img {
    /*margin-top: 135px;*/
}

.project-header .overlay {
    /*position: absolute;
    top: 0;
    z-index: 2;*/
    color: #fff;
    /*height: 80px;*/
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: 100%;
    padding: 24px;
    /*background: rgba(0, 0, 0, 0.9);*/
    background: #191919;
    /*backdrop-filter: blur(5px);
    -webkit-backdrop-filter : bur(5px);*/
}

.porfolio-like .project-header .overlay h1,
#portfolio .project-header .overlay h1 {
    font: 24px/24px 'opensans-bold', sans-serif;
}


.porfolio-like .project-header .overlay p,
#portfolio .project-header .overlay p {
    font: 18px/24px;
    color: #fff;
    text-align: left;
}


/*.project-header .overlay::before {
    content: '';
    margin: -0.7% auto 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    filter: blur(5px) brightness(20%);
    z-index: -1;
}*/



.project-header .overlay .button {
    position: absolute;
    top: 24px;
    right: 24px;
}


.project-content {
    background: #f5f5f5;
    color: #333;
    padding-top: 5px;
}

.project-content p {
    color: #333;
}
.project-content p span {
    color: #000;
}

#project h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#project h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}

#project .main-col {
    /*padding-left: 10%;*/
}

.projet-details {
    margin-top: 5%;
}

.task-list {
    margin-bottom: 10rem;
}

.no-margin {
    margin-top: 0;
}


.task-list li {
    margin-bottom: 1.8rem;
}

.task-list li i.material-icons {
    font-size: 2.2rem;
    margin-right: 6px;
    position: relative;
    bottom: -6px;
}




