
<section id="about">

    <p class="about-content">
        <strong>PHP and javascript developer</strong> in Arka Studio since 2012, working on
        housing configurator, real estate ERP, CRM, Webgl viewers and even VR projects
    </p>

    <aside id="skills">
        <ul>
            <li>
                <h4>PHP/MySQL</h4>
                <p>
                    Experience with Zend,
                    proficiency using object-oriented PHP
                </p>
            </li>
            <li>
                <h4>Javascript</h4>
                <p>
                    Working on AngularJS projects,
                    R&D on 3d libraries
                </p>
            </li>
            <li>
                <h4>Html/css</h4>
                <p>
                    Fullstack developer, fluent in html5 and css
                </p>
            </li>
            <li>
                <h4>Team player</h4>
                <p>
                    Pro-active, passionnate about my work,
                    can also work alone in full autonomy
                </p>
            </li>
            <li>
                <h4>Methods</h4>
                <p>
                    Familiar with agile, SCRUMM, Kanban,
                    also comfortable with minimum specs</p>
            </li>
        </ul>
    </aside>
</section>