
<section id="about">

    <p class="about-content">
        {{ page.header.description }}
    </p>

    <aside id="skills">
        <ul>
            {% for item in page.header.skills %}
            <li>
                <h4>{{ item.title }}</h4>
                <p>
                    {{ item.description }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </aside>
</section>