
        <section id="contact">
            <h2>Contact</h2>


            <div class="row">
                <!--
                ********************************************************************************************************
                Grav form plugin

                -->
                {% include "forms/form.html.twig" %}
                <!--

                ********************************************************************************************************
                End form plugin

                -->
            </div>
        </section>
