
        <!--

        Photo from our agile course

        -->
        <section id="big-banner">
            <div class="banner-content">
                <div>
                    <h1>{{ page.header.title }}</h1>
                    <p>{{ page.header.baseline }}</p>
                </div>
            </div>
        </section>