


<footer>
    <p>
        <strong>MkMs</strong> - Mickaël MEAUSOONE - Senior developer Web -
        <a href="https://www.linkedin.com/in/mickael-meausoone-webdeveloper/?locale=en_US"
           target="_blank"><i class="fab fa-linkedin"></i></a>
    </p>
</footer>