
<header>
    <a href="#" class="basename"><strong>MkMs</strong> - Mickaël MEAUSOONE</a>
    <nav>
        <ul>

            {% for mitem in site.menu %}
                <li>
                    <a href="{{ mitem.link }}">{{ mitem.title }}</a>
                </li>
            {% endfor %}


            {% for item in site.social %}
                <li>
                    <a href="{{ item.url }}"
                       target="_blank">
                        <i class="{{ item.icon }}"></i>
                    </a>
                </li>
            {% endfor %}

            <li>{% include 'partials/language-selector.html.twig' %}</li>
        </ul>
    </nav>
</header>