
<header>
    <a href="#" class="basename"><strong>MkMs</strong> - Mickaël MEAUSOONE</a>
    <nav>
        <ul>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#recent-work">Recent work</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mickael-meausoone-webdeveloper/?locale=en_US"
                   target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>{% include 'partials/language-selector.html.twig' %}</li>
        </ul>
    </nav>
</header>